<a href="https://colab.research.google.com/github/oushnik23/dplyr-data/blob/main/Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
import pandas as pd
import numpy as np

In [21]:
data=pd.read_csv("dplyr.csv")
data

   Index                 State    Y2002  ...    Y2013    Y2014    Y2015
0      A               Alabama  1296530  ...  1852841  1558906  1916661
1      A                Alaska  1170302  ...  1985302  1580394  1979143
2      A               Arizona  1742027  ...  1363279  1525866  1647724
3      A              Arkansas  1485531  ...  1591896  1360959  1329341
4      C            California  1685349  ...  1156536  1388461  1644607
5      C              Colorado  1343824  ...  1178355  1383978  1330736
6      C           Connecticut  1610512  ...  1582249  1503156  1718072
7      D              Delaware  1330403  ...  1671279  1803169  1627508
8      D  District of Columbia  1111437  ...  1912654  1782169  1410183
9      F               Florida  1964626  ...  1107448  1407784  1170389
10     G               Georgia  1929009  ...  1887157  1259353  1725470
11     H                Hawaii  1461570  ...  1517184  1948108  1150882
12     I                 Idaho  1353210  ...  1312561  1713718  1757171
13     I              Illinois  1508356  ...  1915435  1645465  1583516
14     I               Indiana  1776918  ...  1129794  1988394  1467614
15     I                  Iowa  1499269  ...  1173694  1431705  1641866
16     K                Kansas  1509054  ...  1410249  1930090  1385528
17     K              Kentucky  1813878  ...  1878271  1722762  1913350
18     L             Louisiana  1584734  ...  1287663  1908602  1403857
19     M                 Maine  1582720  ...  1318546  1116792  1529233
20     M              Maryland  1579713  ...  1314343  1979529  1569566
21     M         Massachusetts  1647582  ...  1731917  1669749  1963337
22     M              Michigan  1295635  ...  1815596  1965196  1646634
23     M             Minnesota  1729921  ...  1972021  1515366  1864553
24     M           Mississippi  1983285  ...  1907777  1649668  1991232
25     M              Missouri  1221316  ...  1698105  1767835  1996005
26     M               Montana  1877154  ...  1465705  1110394  1125903
27     N              Nebraska  1885081  ...  1690920  1459243  1802211
28     N                Nevada  1426117  ...  1283813  1225348  1903804
29     N         New Hampshire  1419776  ...  1197576  1242623  1963313
30     N            New Jersey  1605532  ...  1100990  1850165  1183568
31     N            New Mexico  1819239  ...  1623388  1533494  1868612
32     N              New York  1395149  ...  1718837  1619033  1367705
33     N        North Carolina  1616742  ...  1104893  1596452  1229085
34     N          North Dakota  1618807  ...  1529024  1563898  1604118
35     O                  Ohio  1802132  ...  1840898  1880804  1573117
36     O              Oklahoma  1173918  ...  1900523  1956742  1307678
37     O                Oregon  1794912  ...  1522129  1509171  1893515
38     P          Pennsylvania  1320191  ...  1475344  1931500  1668232
39     R          Rhode Island  1501744  ...  1531212  1990412  1611730
40     S        South Carolina  1631522  ...  1591735  1188417  1110655
41     S          South Dakota  1159037  ...  1147488  1302834  1136443
42     T             Tennessee  1811867  ...  1560887  1349173  1162164
43     T                 Texas  1520591  ...  1698698  1646508  1705322
44     U                  Utah  1771096  ...  1123353  1801019  1729273
45     V               Vermont  1146902  ...  1146278  1282790  1565924
46     V              Virginia  1134317  ...  1647032  1706707  1850394
47     W            Washington  1977749  ...  1273834  1387428  1377341
48     W         West Virginia  1677347  ...  1683127  1204344  1198791
49     W             Wisconsin  1788920  ...  1510119  1701650  1846238
50     W               Wyoming  1775190  ...  1994022  1204029  1853858

[51 rows x 16 columns]

In [6]:
data.shape

(51, 16)

In [3]:
data.columns

Index(['Index', 'State', 'Y2002', 'Y2003', 'Y2004', 'Y2005', 'Y2006', 'Y2007',
       'Y2008', 'Y2009', 'Y2010', 'Y2011', 'Y2012', 'Y2013', 'Y2014', 'Y2015'],
      dtype='object')

**Remove duplicate rows based on Index column in my_data and assign data as data1.**

In [4]:
data1=data.drop_duplicates(['Index'])

In [5]:
data1

   Index           State    Y2002    Y2003  ...    Y2012    Y2013    Y2014    Y2015
0      A         Alabama  1296530  1317711  ...  1186741  1852841  1558906  1916661
4      C      California  1685349  1675807  ...  1921845  1156536  1388461  1644607
7      D        Delaware  1330403  1268673  ...  1984027  1671279  1803169  1627508
9      F         Florida  1964626  1468852  ...  1131928  1107448  1407784  1170389
10     G         Georgia  1929009  1541565  ...  1850111  1887157  1259353  1725470
11     H          Hawaii  1461570  1200280  ...  1695126  1517184  1948108  1150882
12     I           Idaho  1353210  1438538  ...  1643855  1312561  1713718  1757171
16     K          Kansas  1509054  1290700  ...  1882929  1410249  1930090  1385528
18     L       Louisiana  1584734  1110625  ...  1234234  1287663  1908602  1403857
19     M           Maine  1582720  1678622  ...  1437088  1318546  1116792  1529233
27     N        Nebraska  1885081  1309769  ...  1569665  1690920  1459243  1802211
35     O            Ohio  1802132  1648498  ...  1227303  1840898  1880804  1573117
38     P    Pennsylvania  1320191  1446723  ...  1290329  1475344  1931500  1668232
39     R    Rhode Island  1501744  1942942  ...  1909119  1531212  1990412  1611730
40     S  South Carolina  1631522  1803455  ...  1532332  1591735  1188417  1110655
42     T       Tennessee  1811867  1485909  ...  1849041  1560887  1349173  1162164
44     U            Utah  1771096  1195861  ...  1108281  1123353  1801019  1729273
45     V         Vermont  1146902  1832249  ...  1714960  1146278  1282790  1565924
47     W      Washington  1977749  1687136  ...  1775787  1273834  1387428  1377341

[19 rows x 16 columns]

In [7]:
data1.shape

(19, 16)

**Drop variables name starts with Y in my_data and assign as data2**

In [23]:
data2=data.loc[:,~data.columns.str.startswith('Y')]

In [24]:
data2

   Index                 State
0      A               Alabama
1      A                Alaska
2      A               Arizona
3      A              Arkansas
4      C            California
5      C              Colorado
6      C           Connecticut
7      D              Delaware
8      D  District of Columbia
9      F               Florida
10     G               Georgia
11     H                Hawaii
12     I                 Idaho
13     I              Illinois
14     I               Indiana
15     I                  Iowa
16     K                Kansas
17     K              Kentucky
18     L             Louisiana
19     M                 Maine
20     M              Maryland
21     M         Massachusetts
22     M              Michigan
23     M             Minnesota
24     M           Mississippi
25     M              Missouri
26     M               Montana
27     N              Nebraska
28     N                Nevada
29     N         New Hampshire
30     N            New Jersey
31     N            New Mexico
32     N              New York
33     N        North Carolina
34     N          North Dakota
35     O                  Ohio
36     O              Oklahoma
37     O                Oregon
38     P          Pennsylvania
39     R          Rhode Island
40     S        South Carolina
41     S          South Dakota
42     T             Tennessee
43     T                 Texas
44     U                  Utah
45     V               Vermont
46     V              Virginia
47     W            Washington
48     W         West Virginia
49     W             Wisconsin
50     W               Wyoming

**select variables in my_data ,contain I in their name and assign as data3.**

In [26]:
data3=data.loc[:,data.columns.str.contains('I')]
data3

   Index
0      A
1      A
2      A
3      A
4      C
5      C
6      C
7      D
8      D
9      F
10     G
11     H
12     I
13     I
14     I
15     I
16     K
17     K
18     L
19     M
20     M
21     M
22     M
23     M
24     M
25     M
26     M
27     N
28     N
29     N
30     N
31     N
32     N
33     N
34     N
35     O
36     O
37     O
38     P
39     R
40     S
41     S
42     T
43     T
44     U
45     V
46     V
47     W
48     W
49     W
50     W

**Filter rows in my_data where Index=A or C and assign as data4.**

In [29]:
data4=data[data['Index'].isin(['A','C'])]
data4

  Index        State    Y2002    Y2003  ...    Y2012    Y2013    Y2014    Y2015
0     A      Alabama  1296530  1317711  ...  1186741  1852841  1558906  1916661
1     A       Alaska  1170302  1960378  ...  1512804  1985302  1580394  1979143
2     A      Arizona  1742027  1968140  ...  1907284  1363279  1525866  1647724
3     A     Arkansas  1485531  1994927  ...  1216675  1591896  1360959  1329341
4     C   California  1685349  1675807  ...  1921845  1156536  1388461  1644607
5     C     Colorado  1343824  1878473  ...  1491604  1178355  1383978  1330736
6     C  Connecticut  1610512  1232844  ...  1228529  1582249  1503156  1718072

[7 rows x 16 columns]

**Filter rows in my_data where Index !=A or C and assign as data5.**

In [33]:
data5=data[data['Index'].isin(['A','C'])==False]
data5

   Index                 State    Y2002  ...    Y2013    Y2014    Y2015
7      D              Delaware  1330403  ...  1671279  1803169  1627508
8      D  District of Columbia  1111437  ...  1912654  1782169  1410183
9      F               Florida  1964626  ...  1107448  1407784  1170389
10     G               Georgia  1929009  ...  1887157  1259353  1725470
11     H                Hawaii  1461570  ...  1517184  1948108  1150882
12     I                 Idaho  1353210  ...  1312561  1713718  1757171
13     I              Illinois  1508356  ...  1915435  1645465  1583516
14     I               Indiana  1776918  ...  1129794  1988394  1467614
15     I                  Iowa  1499269  ...  1173694  1431705  1641866
16     K                Kansas  1509054  ...  1410249  1930090  1385528
17     K              Kentucky  1813878  ...  1878271  1722762  1913350
18     L             Louisiana  1584734  ...  1287663  1908602  1403857
19     M                 Maine  1582720  ...  1318546  1116792  1529233
20     M              Maryland  1579713  ...  1314343  1979529  1569566
21     M         Massachusetts  1647582  ...  1731917  1669749  1963337
22     M              Michigan  1295635  ...  1815596  1965196  1646634
23     M             Minnesota  1729921  ...  1972021  1515366  1864553
24     M           Mississippi  1983285  ...  1907777  1649668  1991232
25     M              Missouri  1221316  ...  1698105  1767835  1996005
26     M               Montana  1877154  ...  1465705  1110394  1125903
27     N              Nebraska  1885081  ...  1690920  1459243  1802211
28     N                Nevada  1426117  ...  1283813  1225348  1903804
29     N         New Hampshire  1419776  ...  1197576  1242623  1963313
30     N            New Jersey  1605532  ...  1100990  1850165  1183568
31     N            New Mexico  1819239  ...  1623388  1533494  1868612
32     N              New York  1395149  ...  1718837  1619033  1367705
33     N        North Carolina  1616742  ...  1104893  1596452  1229085
34     N          North Dakota  1618807  ...  1529024  1563898  1604118
35     O                  Ohio  1802132  ...  1840898  1880804  1573117
36     O              Oklahoma  1173918  ...  1900523  1956742  1307678
37     O                Oregon  1794912  ...  1522129  1509171  1893515
38     P          Pennsylvania  1320191  ...  1475344  1931500  1668232
39     R          Rhode Island  1501744  ...  1531212  1990412  1611730
40     S        South Carolina  1631522  ...  1591735  1188417  1110655
41     S          South Dakota  1159037  ...  1147488  1302834  1136443
42     T             Tennessee  1811867  ...  1560887  1349173  1162164
43     T                 Texas  1520591  ...  1698698  1646508  1705322
44     U                  Utah  1771096  ...  1123353  1801019  1729273
45     V               Vermont  1146902  ...  1146278  1282790  1565924
46     V              Virginia  1134317  ...  1647032  1706707  1850394
47     W            Washington  1977749  ...  1273834  1387428  1377341
48     W         West Virginia  1677347  ...  1683127  1204344  1198791
49     W             Wisconsin  1788920  ...  1510119  1701650  1846238
50     W               Wyoming  1775190  ...  1994022  1204029  1853858

[44 rows x 16 columns]

**Get the mean and median of Y2011 column based on Index column in my_data.**

In [41]:
data.groupby('Index')['Y2011'].mean().sort_values(ascending=False)

Index
H    1.902816e+06
O    1.882111e+06
G    1.851245e+06
R    1.781016e+06
C    1.750357e+06
T    1.724080e+06
W    1.711341e+06
I    1.690170e+06
M    1.582714e+06
F    1.497051e+06
K    1.489353e+06
P    1.483292e+06
V    1.482143e+06
N    1.448351e+06
A    1.432642e+06
S    1.381724e+06
D    1.336059e+06
U    1.288285e+06
L    1.210385e+06
Name: Y2011, dtype: float64

In [36]:
data.groupby('Index')['Y2011'].median().sort_values(ascending=False)

Index
H    1902816.0
O    1887714.0
W    1877166.5
G    1851245.0
R    1781016.0
T    1724079.5
C    1665877.0
I    1655673.0
M    1602332.5
F    1497051.0
K    1489353.0
P    1483292.0
V    1482143.0
N    1471880.0
S    1381724.0
D    1336059.0
A    1335811.0
U    1288285.0
L    1210385.0
Name: Y2011, dtype: float64

**select 10 % rows randomly from my_data and assign as data6**

In [43]:
data6=data.sample(frac=.10)
data6

   Index                 State    Y2002  ...    Y2013    Y2014    Y2015
7      D              Delaware  1330403  ...  1671279  1803169  1627508
18     L             Louisiana  1584734  ...  1287663  1908602  1403857
13     I              Illinois  1508356  ...  1915435  1645465  1583516
40     S        South Carolina  1631522  ...  1591735  1188417  1110655
8      D  District of Columbia  1111437  ...  1912654  1782169  1410183

[5 rows x 16 columns]

**Export the data6 as my_new_data(in csv) in your working directory.**

In [44]:
data6.to_csv('my_new_data.csv',index=False)